*{
    margin: 0;
    padding: 0;
}


body  {

    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.first {
    background-color: rgba(255, 19, 58, 0.61);
    position: relative;
padding-top: 50px;
}
.image1{
    padding: 100px 0;
    display: flex;
    justify-content: space-around;
    line-height: 2rem;
}

  h2{
    font-family: sans-serif;
    font-size: 1.8rem;
    color: #ffffff;
  }

h2#skills{
  color: rgb(79, 185, 199); 
  margin: 15px; 
}
  
  h1 {
    font-family: "Sacramento", cursive;
    font-size: 5rem;
    color: white;
  }

.second{
    padding: 30px 0;
    display: block;
    justify-content: space-around;
    line-height: 2rem;
}
#pro{
    color: rgb(43, 176, 228); 
    margin: 15px;
}
#dev{
    color: rgb(43, 176, 228); 
    margin: 15px;

}

.third{
    background-color: rgba(255, 19, 58, 0.61);
height: 200px;
position: relative;
padding-top: 50px;
  
}

#services{
    color: white ;
}




#love{
    color: rgb(43, 176, 228); 


}

#get{
    color: rgb(43, 176, 228); 

}

.fifth{
    color: #ffffff;
    background-color:rgba(255, 19, 58, 0.61);
padding: 50px 0;
line-height: 2;
}

#Submit_button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 19, 58, 0.61);
    color: white;
  }